<configuration>
    <property name="LOG_HOME" value="./log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %highlight(%-5level) %blue(%-25logger{36}) - %msg%n%ex</pattern>
        </encoder>
    </appender>

<!--    <pattern>%d{dd/MM/yyyy HH:mm:ss} [%thread] %highlight(%-5level) %blue(%-25logger{36}) - %msg%n%ex</pattern>-->
    <logger name="org.springframework" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
